{% extends "base.html" %}
{% block title %}
Board | Home
{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ダイエット記録</title>
    <link rel="stylesheet" href="{% static 'event/diet.css' %}">
</head>
<body>
    <div class="content">
        <div class="contents">
            <h2>今までの記録</h2>
            <div class="cont1">
                {% for event in all_dt %}
                {% if event.play == "" or event.play == None %}
                    <a href="{% url 'event:diet_shousai' event.id %}"><p>{{ event.date|date:"m/d" }} 運動名：記録なし</p></a>
                {% else %}
                    <a href="{% url 'event:diet_shousai' event.id %}"><p>{{ event.date|date:"m/d" }} 運動名：{{ event.play }}</p></a>
                    <hr>
                {% endif %}
                {% endfor %}
                <hr>
            </div>
            <div class="cont2">
                {% for e in all_eat %}
                {% if e.lunch == "" and e.dinner == "" and e.sonohoka == "" %}
                    <a href="{% url 'event:eat_shousai' e.id %}"><p>{{ e.date|date:"m/d" }}　朝ごはん</p></a>
                {% elif e.morning == "" and e.dinner == "" and e.sonohoka == "" %}
                    <a href="{% url 'event:eat_shousai' e.id %}"><p>{{ e.date|date:"m/d" }}　昼ごはん</p></a>
                {% elif e.lunch == "" and e.morning == "" and e.sonohoka == "" %}
                    <a href="{% url 'event:eat_shousai' e.id %}"><p>{{ e.date|date:"m/d" }}　夜ごはん</p></a>
                {% elif e.lunch == "" and e.morning == "" and e.dinner == "" %}
                    <a href="{% url 'event:eat_shousai' e.id %}"><p>{{ e.date|date:"m/d" }}　その他の食事</p></a>
                {% endif %}
                    <hr>
                {% endfor %}
            </div>
        </div>
        <div class="cont3">
            <h2>記録をつける</h2>
            <form method="post" action="{% url 'event:diet_save' %}">
                {% csrf_token %}
                <span>日付：</span>
                <input type="date" class="date" name="date">
                <span>身長：</span>
                <input type="number" class="num" name="height"><span>cm</span>
                <span>体重：</span>
                <input type="number" class="num" name="kg"><span>kg</span>
                <span>年齢：</span>
                <input type="number"  class="num"name="age">
                <br>
                <span>運動名：</span>
                <input type="text" placeholder="ランニング" class="text" name="play">
                <span>運動時間：</span>
                <input type="number" class="num" value="00" min="0" max="99" name="hhh">時間
                <input type="number" class="num" value="00" min="0" max="59" name="mmm">分
                <input type="submit" class="kiroku" value="記録をつける" name="botton">
            </form>
            <hr>
            <form method="post" action="{% url 'event:eat_save' %}">
                {% csrf_token %}
                <p>食べたものを記録しよう</p>
                <select name="eat">
                    <option value="朝ごはん">朝ごはん</option>
                    <option value="昼ごはん">昼ごはん</option>
                    <option value="夜ごはん">夜ごはん</option>
                    <option value="そのほか">そのほか</option>
                </select>
                <span>食べた時間</span>
                <input type="time" class="time" placeholder="00:00" name="eat_time">
                <span>食べたもの</span>
                <textarea placeholder="食べたものを改行区切りで書こう" name="eating"></textarea>
                <input type="submit" class="kiroku" value="記録をつける" name="botton2">
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}