{% extends "base.html" %}
{% block title %}
Board | Home
{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>夢日記記録</title>
    <link rel="stylesheet" href="{% static 'event/dream_diary.css' %}">
</head>
<body>
    <h2>今までの夢日記</h2>
    <div class="content">
        <div class="cont1">
            {% for event in all_dd %}
                <a href="{% url 'event:dd_shousai' event.id %}"><p><p>{{ event.date|date:"m/d" }} 「{{ event.title }}」 </p></a>
                <hr>
            {% endfor %}
        </div>
        <div class="cont2">
            <form method="post" action="{% url 'event:dd_save' %}">
                {% csrf_token %}
                <span>日付：</span>
                <input type="date" name="date" class="www">
                <span>タイトル：</span>
                <input type="text" placeholder="タイトル" name="title" class="www">
                <textarea placeholder="[登場人物]改行区切り" name="jinbutu"></textarea><br>
                <textarea placeholder="[本文]どんな夢だったか書いてみよう" name="text"></textarea><br>
                <textarea placeholder="[感想]]感想を書いてみよう" name="kansou"></textarea><br>
                <input type="submit" class="kiroku"value="夢日記を書く" name="botton">
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}