{% extends "base.html" %}
{% block title %}
Board | Home
{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'event/shousai.css' %}">
</head>
<body>
    <div class="content">
        <p>日付：{{ event.date }}</p>
        <p>タイトル：{{ event.title }}</p>
        <p>登場人物</p>
        {% for i in jinbutu %}
        <li>{{ i }}</li>
        {% endfor %}
        <p>内容：{{ event.text }}</p>
        <p>感想:{{ event.kansou }}</p>
    </div>
        <form action="{% url 'event:modoru_dd'%}">
            {% csrf_token %}
            <input type="submit" value="戻る" name="modoru">
        </form>
</body>
</html>
{% endblock %}