{% extends "base.html" %}
{% block title %}
Board | Home
{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'event/shousai.css' %}">
</head>
<body>
    <div class="content">
        <p>記録日：{{ event.date }}</p>
        <p>食べた時間：{{ event.eat_time }}</p>
        {% if event.lunch == "記録なし" and event.dinner == "記録なし" and event.sonohoka == "記録なし" %}
        <p>食べたもの：{{ event.morning }}</p>
        {% elif event.morning == "記録なし" and event.dinner == "記録なし" and event.sonohoka == "記録なし" %}
        <p>食べたもの：{{ event.lunch }}</p>
        {% elif event.lunch == "記録なし" and event.morning == "記録なし" and event.sonohoka == "記録なし" %}
        <p>食べたもの：{{ event.dinner }}</p>
        {% elif event.lunch == "記録なし" and event.morning == "記録なし" and event.dinner == "記録なし" %}
        <p>食べたもの：{{ event.sonohoka }}</p>
        {% else %}
        <p>食べたもの：記録なし</p>
        {% endif %}
    </div>
        <form action="{% url 'event:diet2'%}">
            {% csrf_token %}
            <input type="submit" value="戻る" name="modoru">
        </form>
</body>
</html>
{% endblock %}