{% extends "base.html" %}
{% block title %}
Board | Home
{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'event/shousai.css' %}">
</head>
<body>
    <div class="content">
        <p>記録日:{{ event.date }}</p>
        {% if event.name == "" or event.name == None %}
        <p>銘柄：記録なし　{{ event.mg }}mg</p>
        {% else %}
        <p>銘柄：{{ event.name }}　{{ event.mg }}mg</p>
        {% endif %}
        <p>本数：{{ event.honn }}本</p>
        {% if event.memo == "" or event.memo == None %}
        <p>メモ：なし</p>
        {% else %}
        <p>メモ：{{ event.memo }}</p>
        {% endif %}
    </div>
        <form action="{% url 'event:modoru_smoke'%}">
            {% csrf_token %}
            <input type="submit" value="戻る" name="modoru">
        </form>
</body>
</html>
{% endblock %}