{% extends "base.html" %}
{% block title %}
Board | Home
{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タバコ記録</title>
    <link rel="stylesheet" href="{% static 'event/smoke.css' %}">
</head>
<body>
    <div class="content">
        <div class="cont1">
            <h3>今までの記録</h3>
            {% for event in all_sm %}
            <a href="{% url 'event:smoke_shousai' event.id %}"><p>{{ event.date|date:"m/d" }}　{{ event.name }}　{{ event.honn }}本</p></a>
            <hr>
            {% endfor %}
        </div>
        <div class="cont2">
            <div class="kiroku">
                <h3>記録する</h3>
                <form method="post" action="{% url 'event:smoke_save' %}">
                    {% csrf_token%}
                    <input type="text" class="text" placeholder="タバコ名" name="name">
                    <input type="number" class="num" value="00" min="0" name="mg">mg
                    <input type="number" class="num" value="00" min="0" name="honn">本
                    <textarea placeholder="メモ・ひとこと" name="memo"></textarea>
                    <input type="submit" value="記録する" class="kiroku" name="kiroku">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}