{% extends "base.html" %}
{% block title %}
Board | Home
{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'event/shousai.css' %}">
</head>
<body>
    <div class="content">
        <!-- 勉強範囲で記録 -->
        {% if event.time == None %}
            <p>教科：{{ event.subject }}</p>
            <p>記録日：{{ event.created|date:"Y/m/d (D) H時i分" }}</p>
            <p>参考書名：{{ event.textbook_name }}</p>
            <p>範囲：{{ event.peji1 }}ページ ~ {{ event.peji2 }}ページ</p>
            {% if event.memo == "" or event.memo == None %}
            <p>メモ：記録なし</p>
            {% else %}
            <p>メモ：{{ event.memo }}</p>
            {% endif %}
        <!-- 勉強時間で記録 -->
        {% else %}
            <p>教科：{{ event.subject }}</p>
            <p>記録日：{{ event.created|date:"Y/m/d (D) H時i分" }}</p>
            <p>勉強時間：{{ event.time }}</p>
            {% if event.memo == "" or event.memo == None %}
            <p>メモ：記録なし</p>
            {% else %}
            <p>メモ：{{ event.memo }}</p>
            {% endif %}
        {% endif %}
    </div>
    <form action="{% url 'event:modoru_study'%}">
        {% csrf_token %}
        <input type="submit" value="戻る" name="modoru">
    </form>
</body>
</html>
{% endblock %}