{% extends "base.html" %}
{% block title %}
Board | Home
{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>勉強記録</title>
    <link rel="stylesheet" href="{% static 'event/study.css' %}">
</head>
<body>
    <div class="content">
        <div class="cont1">
            <h1>勉強記録</h1>
            {% for event in all_st %}
            {% if event.time == None %}
                <a href="{% url 'event:study_shousai' event.id %}"><p><p>{{ event.created|date:"m/d" }}　{{ event.subject }}　{{ event.peji1 }}ページ ~ {{ event.peji2 }}ページ</p></a>
                <hr>
            {% else %}
                <a href="{% url 'event:study_shousai' event.id %}"><p>{{ event.created|date:"m/d" }}　{{ event.subject }}　{{ event.time|time:"G時間i分" }}</p></a>
                <hr>
            {% endif %}
            {% endfor %}
        </div>
        <div class="cont2">
            <h1>記録する</h1>
            <form method="post" action="{% url 'event:kyouka_henshuu' %}">
                {% csrf_token %}
                <input type="submit" class="tuikabotan" name="kyouka_tuika" value="教科を編集">
            </form>
            <div class="kiroku">
            <div class="time">
                <h3>時間で記録する</h3>
                <form method="post" action="{% url 'event:study_save1' %}">
                    {% csrf_token%}
                    <select name="btoodtype">
                        <option value="なし">なし</option>
                        {% for k in all_kyouka %}
                        <option value=k>{{ k.kyouka }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="number" class="number" value="00" min="0" max="99" name="hhh">時間
                    <input type="number" class="number" value="00" min="0" max="59" name="mmm">分
                    <br>
                    <textarea placeholder="メモ・ひとこと" name="memo"></textarea>
                    <input type="submit" class="kiroku" value="記録する" name="kiroku">
                </form>
            </div>
            <hr>
            <div class="peji">
                <h3>ページ数で記録する</h3>
                <form method="post" action="{% url 'event:study_save2' %}">
                    {% csrf_token%}
                    <br>
                    <select name="btoodtype">
                        <option value="なし">なし</option>
                        {% for k in all_kyouka %}
                        <option value=k>{{ k.kyouka }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="text" class="text" placeholder="参考書名" name="textbook_name">
                    <input type="number" class="number" value="00" min="0" max="10000" name="peji1">ページ ~ 
                    <input type="number" class="number" value="00" min="0" max="10000" name="peji2">ページ
                    <br>
                    <textarea placeholder="メモ・ひとこと" name="memo"></textarea>
                    <input type="submit" class="kiroku" value="記録する" name="kiroku">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}