{% extends "base.html" %}
{% block title %}
Board | signup
{% endblock %}
{% block content %}

<div class='container'>
    <div class='content'>
        <!-- エラー表示 -->
        {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
            <li>{{ field.label }}: {{ errors|join:", " }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>

{% endblock %}