{% extends "base.html" %}
{% block title %}
Board | Home
{% endblock %}
{% block content %}
<div class="button">
    <form action="{% url 'login:study' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="勉強">
    </form>
    <form action="{% url 'login:smoke' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="タバコ">
    </form>
    <form action="{% url 'login:diet' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="ダイエット">
    </form>
    <form action="{% url 'login:diary' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="日記">
    </form>
    <form action="{% url 'login:dd' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="夢日記">
    </form>
    <!-- 薬 -->
</div>
{% endblock %}