.content{
    display: flex;
}
.contents{
    width: 50%;
}
.cont3{
    width: 50%;
}
input.kiroku{
    margin-left: 10%;
    font-size: 20px;
    height: 40px;
    width: 120px;
}
input.num{
    width: 50px;
    height: 35px;
    margin-bottom: 30px;
}
input.text{
    height: 35px;
    width: 200px;
    margin-right: 20px;
}
input.time{
    height: 35px;
    width: 75px;
}
input.date{
    height: 35px;
    width: 150px;
}
hr .line{
    border: none;
    border-color: black;
}
.a{
    display: flex;
}
.a input{
    width: 200px;
    height: 50px;
    margin-left: 50%;
}
.eat{
    margin-top: 15%;
}