.kyouka{
    display: flex;
}
.kyouka input{
    height: 30px;
    width: 70px;
    font-size: 20px;
    margin-left: 3%;
    margin-top: 0.5%;
}
.kyouka li{
    margin-top: 0.7%;
}
.kirokuhe{
    width: 120px;
    height: 40px;
}
.tuika{
    width: 120px;
    height: 40px;
    margin-left: 1%;
}
.kyoukamei{
    width: 200px;
    height: 40px;
    font-size: 20px;
}