.content{
    margin-left: 35%;
    margin-top: 18%;
}
input{
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
}
p{
    font-size: 30px;
}
.li{
    font-size: 25px;
}
.jinbutu{
    display: flex;
}
.for {
    margin-left: 20px;
    margin-top: 5px;
}